[Desktop Entry]
Name=FluffyX
GenericName=Matrix Client
Comment=Custom Matrix messenger based on FluffyChat
Exec=fluffyx
Icon=${SNAP}/meta/gui/fluffyx.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
